*{
    margin: 0;
    padding: 0;
}
body
{
    /* text-align: center; */
    text-align: center;
}

.container{
    height: 70vh;
    /* align-items: center; */
    border: 2px solid green;
     display: flex;
   
       
        justify-content: center;
        align-items: center;
     
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;

        justify-content: center;
        align-items: center;
        gap: 1.5vmin;


}
.box
{
    height: 18vmin;
    width: 16vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(63, 56, 56);
    font-size:  8vmin;
    color: red;
}

.reset
{
    padding: 2vmin;
    background-color: brown;
    color: aqua;
    margin: 3vmin;
    border-radius: 2vmin;
}
.hide{
    
    padding: 2vmin;
    background-color: brown;
    color: aqua;
    margin: 3vmin;
    border-radius: 2vmin;
    display: none;

}
#bn
{
    padding: 2vmin;
    background-color: brown;
    color: aqua;
    margin: 3vmin;
    border-radius: 2vmin;
}